# Aplicación
NODE_ENV=development
PORT=3000

# SQL Server / Prisma
DATABASE_URL="sqlserver://localhost:1433;database=Inventario2026;user=inventario_dev;password={TU_PASSWORD};encrypt=true;trustServerCertificate=true"

SHADOW_DATABASE_URL="sqlserver://localhost:1433;database=Inventario2026_shadow;user=inventario_dev;password={TU_PASSWORD};encrypt=true;trustServerCertificate=true"

# Autenticación
JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_SEGURA
JWT_EXPIRES_IN=1d